.button {
    width: 100px;
    height: 50px;
}

.button:hover {
    background: green;
    color: white;
}

.button::before {
    content: "Pasa por encima"
}

.button:hover::before {
    content: "¡Hecho!";
}