body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.btn {
    background-color: greenyellow;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid green;
    border-radius: 10px;
    color: #fff;
}

.tooltip {
    position: absolute;
    top: -10px;
    color: #ddd;
    background-color: #333;
    padding: 5px 10px;
    visibility: hidden;
}

.btn:hover {
    background-color: #008000d7;
}

.btn:hover .tooltip {
    visibility: visible;
}