body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
}

.text {
    background-color: blue;
}

@media screen and (min-width:576px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        ;
    }
}

@media screen and (min-width:992px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        ;
    }
}

@media screen and (min-width:1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}